include LICENSE
include README.md
include scripts/README.md
recursive-include scripts *.sh
recursive-include scripts *.m
recursive-include scripts *.py
recursive-include scripts *.ipynb
recursive-exclude scripts *antonin*

exclude .pre-commit-config.yaml

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs *
recursive-exclude tests *
recursive-exclude .vscode *
